.change-password-container {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .form {
        display: flex;
        justify-content: center;
    }

    .btn {
        display: flex;
        border: none;
        justify-content: center;

        button {
            padding: 10px 40px;

        }
    }
}